<section class="container-datauser">
  <form class="form-datauser">

    <fieldset>
      <label for="name">ID</label>
      <br>
      <input type="number" value="" readonly />
    </fieldset>

    <fieldset>
      <label for="name">Nome</label>
      <br>
      <input type="text" value="{{ userName }}" readonly />
    </fieldset>

    <fieldset>
      <label for="">Email</label>
      <br>
      <input type="email" value="" readonly />
    </fieldset>

    <fieldset>
      <label for="">Senha</label>
      <br>
      <input type="password" value="" readonly />
    </fieldset>

    <fieldset>
      <button class="btn">Editar</button>
    </fieldset>
  </form>
</section>