<section class="container-home">

  <div class="img-hero"></div>

  <div class="login-form">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <fieldset class="container-field">
        <label for="">Email</label>
        <br>
        <input type="text" class="field-entry" formControlName="email" placeholder="email@email.com.br"
          autocomplete="off" tabindex="1" required />
        <br>
      </fieldset>

      <fieldset class="container-field">
        <label for="password">Senha</label>
        <br>
        <input type="password" class="field-entry" formControlName="password" placeholder="Senha" autocomplete="off"
          tabindex="2" required />
        <br>
      </fieldset>

      <fieldset class="container-field">
        <button type="submit" class="btn" value="Entrar" tabIndex="3">Entrar</button>
      </fieldset>

      <fieldset class="container-field">
        <a href="" class="link">Cadastrar</a>
        <a href="" class="link forget">Esqueci Senha</a>
      </fieldset>

      <fieldset class="container-field">
        <small class="error">{{ error }}<br></small>
      </fieldset>

    </form>

  </div>

</section>