<div class="card-list-title">
  <h3>Lista de pets</h3>
</div>

<section class="container-card-list-pet ">

  <picture class="card-pet-img">
    <source media="(min-width: )" srcset="">
    <img src="assets/images/img-default.jpeg" alt="pet">
  </picture>

  <div class="card-pet-name">
    <h4>Nome</h4>
    <p>Uau uau</p>
  </div>

  <div class="card-pet-breed">
    <h4>Raça</h4>
    <p>Basset</p>
  </div>

  <div class="card-pet-bracelet">
    <h4>Pulseira</h4>
    <p>ASD-1234</p>
  </div>

  <div class="card-pet-btn">
    <button>
      <span class="material-icons clr-blue">
        my_location
      </span>
    </button>
    <button>
      <span class="material-icons clr-green">
        edit
      </span>
    </button>
    <button>
      <span class="material-icons clr-red">
        delete
      </span>
    </button>
  </div>

</section>